.begin-session{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    padding: 20% 0;
    text-align: center;
}

.begin-session input{
    padding-left: 4%;
    margin-bottom: 6%;
    border: none;
    border-radius: 2px;
}

.email-session{
    padding: 4% 0 5% 0;
}


.password-session{
    padding: 5% 0 2% 0;
    box-shadow: 0 4px 6px -6px black;
}



.begin-session input::placeholder{
    color: #A2A2A2;
    font-weight: 400;
    font-family: 'Raleway';
    font-size: 16px;
    opacity: 0.8;
   
}

.begin-session h2{
    color: #464646;
    font-weight: 700;
    font-size: 16px;

    margin-bottom: 6%;
}

.btn-session{
    width: 40%;
    margin: auto;
    padding: 4%;
    background-color: #2A7AE4;
    border: none;
    color: #FFFFFF;
    font-weight: 600;

}